main {
  display: block;
  width: 100%;
}

sidebar {
  display: none;
}

@mixin wrapper-size($wrapper-width, $wrapper-margin-left, $wrapper-margin-right) {
  .content_wrapper {
    width: $wrapper-width;
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
    padding: 0 0;
  }

  #content_head {
    height: $content-head-height-desktop;
  }
}

@include wrapper-size(100%, 0px, 0px);

.content_wrapper {
  padding: 0 1.5rem;
}

#content_head {
  display: flex;
  align-items: flex-end;
  border-bottom: 5px solid $theme-color-contrast;
  height: $content-head-height;

  p {
    font-size: 0.75rem;
    margin-bottom: 25px;
  }
}

#content_body {
  img {
    max-width: $content-max-width;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 2.3rem 0;
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: calc(#{$margin-left} + #{$content-max-width})) {
  @include wrapper-size($content-max-width, $margin-left, auto);
}

@media (min-width: calc(#{$sidebar-width} + #{$margin-left} + #{$content-max-width})) {
  sidebar {
    display: block;
  }
}