<header>
  <div class="outline"></div>

  <a href="{{ site.baseurl }}/">
    {% if site.url contains "abtion." or site.url contains "localhost:3000" %}
    <img src="{{ '/assets/images/abtion-logo.svg' | relative_url }}" alt="Logo" />
    {% else %}
    <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo" />
    {% endif %}
  </a>

  {% if page.layout == 'default' %}
  <a class="burger-anchor" href="{{ site.baseurl }}/navigation.html">
    <div class="header__nav-burger-button">
      <span class="header__nav-burger-icon">=</span>
    </div>
  </a>
  {% elsif page.layout == "navigation" %}
  <a class="burger-anchor" href="javascript:history.go(-1)">
    <div class="header__nav-burger-button">
      <span class="header__nav-burger-icon">&#10005;</span>
    </div>
  </a>
  {% endif %}
</header>
