<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  
    <body id="layout-default__body" >

    {%- include sidebar.html -%}

    {% if site.url contains "abtion.com" or site.url contains "localhost:3000" %}
      <main class="contains-licensed-content">
    {% else %}
      <main>
    {% endif %}

      {%- include header.html -%}
      <div class="content_wrapper">
        <div id="content_head">
          <p>
            {{ page.dir | remove_first: "/" | split: "" | reverse | join: "" | remove_first: "/" | split: ""
            | reverse | join: "" | replace: "_", " " | replace: "/", " / " | capitalize }}
          </p>          
        </div>

        <div id="content_body">{{ content }}</div>
      </div>

    </main>
  </body>
</html>
